div{
    background-color:brown;
    font-weight: 800;
    font-family: 'Courier New', Courier, monospace;
}
.div2{
    background-color: aquamarine;
    font-weight: 800;
    margin: 10px;
    border: 10px solid black;
    padding: 5px;
    box-shadow: 5px 5px 10px red;

}